<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
    <!--поля для объекта-->
    <label for="name">Введите имя</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="lastname">Фамилия</label>
    <input type="text" th:field="*{lastname}" id="lastname"/>
    <br/>
    <label for="age">Возраст</label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <input type="submit" value="Update!">

</form>
</body>
</html>